    body {
        background: #000428;
       
        background: -webkit-linear-gradient(to right, #3d5a39, #007bff);
        background: linear-gradient(to right, #0f4f94, #3d5a39);
        font-family: 'Raleway', sans-serif;
    }
    
    header {
        margin: 30px 0;
    }
    
    .container-custom {
        padding: 20px;
    }
    
    .main-container {
        background-color: white;
        padding: 30px;
        border-radius: 20px;
    }
    
    .budget p {
        margin-bottom: 0;
    }
    
    .budget p span {
        font-weight: normal;
    }
    
    #add-expense {
        line-height: 30px;
    }
    
    #expenses {
        margin-bottom: 30px;
    }
    
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: white;
        font-weight: bold;
    }
    
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        color: #007bff;
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: bold;
    }